.fo_f {
  font-size: 1.125rem;
}

.fo_default {
  font-size: 1rem;
}

.fo_copy {
  font-size: 0.8125rem;
}

.inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1700px;
}

.inner2 {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

body.menu--open #header .navbar .container #navbarNav {
  display: none;
}
body.menu--open #aside:after {
  opacity: 1;
  visibility: visible;
}

#header {
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #fff;
  transition: background 1s;
  border-bottom: 1px solid #ddd;
}
#header .container {
  height: 100%;
}
#header.sub_header {
  background: rgb(0, 0, 0);
}
#header .navbar {
  height: 100%;
}
#header .navbar .logo {
  margin-left: 5%;
  display: flex;
  align-items: center;
}
#header .navbar .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
#header .navbar .container #navbarNav {
  display: flex;
  justify-content: end;
  align-items: center;
}
#header .navbar .container #navbarNav .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .navbar .container #navbarNav .consulting {
  margin: 0 0 0 5%;
}
#header .navbar .container #navbarNav ul > li.nav-item {
  width: 180px;
  text-align: center;
  position: relative;
  margin: 0;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
  position: absolute;
  top: 85px;
  left: 50%;
  text-align: left;
  width: 220px;
  transform: translateX(-50%);
  text-align: center;
  background: #fff;
  height: auto;
  z-index: 1;
  transition: opacity 0.5s;
  transition: background 1s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu.on {
  display: block;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li {
  border-bottom: 1px solid #ddd;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li:last-child {
  border-bottom: 0;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a {
  padding: 20px 10px;
  transition: all 200ms ease-in-out;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a i {
  display: block;
  width: 0%;
  height: 2px;
  background: #000;
  border-radius: 0;
  transition: all 1s;
  margin: 8px 0 0;
  display: none;
}
#header .navbar .container #navbarNav ul > li.nav-item .sub_menu li a:hover {
  font-weight: 700;
}
#header .navbar .container #navbarNav ul > li.nav-item > a {
  font-weight: 600;
  padding: 40px 0;
  border-radius: 30px;
}
#header .navbar .container #navbarNav .consulting a {
  background: #1445CE;
  color: #fff;
  width: 140px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  text-align: center;
}
#header .navbar .container .black_box {
  padding-right: 5%;
  background: #000;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: border-box;
}
#header .navbar .container .black_box .cont {
  display: flex;
}
#header .navbar .container .black_box .login_area {
  margin: 0 15px 0 20px;
  float: left;
}
#header .navbar .container .black_box .login_area span {
  color: #fff;
  padding: 0 0 0 33px;
  background: url("../img/login_icon.png") no-repeat left center/24px 24px;
  width: auto;
  height: 24px;
  display: inline-block;
}
#header .navbar .container .black_box .join_area {
  float: left;
}
#header .navbar .container .black_box .join_area span {
  color: #fff;
  padding: 0 0 0 33px;
  background: url("../img/join_icon.png") no-repeat left center/27px 20px;
  width: auto;
  height: 24px;
  display: inline-block;
}
#header .navbar .container .black_box .navbar-toggler {
  position: relative;
  width: 33px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 14px 4px 15px;
  display: none;
}
#header .navbar .container .black_box .navbar-toggler .btn_line_02 {
  margin: 8px 0;
}
#header .navbar .container .black_box .navbar-toggler.active .btn_line_01 {
  transform: rotateZ(-45deg) translate3d(-7px, 7px, 0);
  width: 25px;
}
#header .navbar .container .black_box .navbar-toggler.active .btn_line_02 {
  opacity: 0;
  transform: translateX(0);
}
#header .navbar .container .black_box .navbar-toggler.active .btn_line_03 {
  transform: rotateZ(45deg) translate3d(-7px, -7px, 0);
  width: 25px;
}
#header .navbar .container .black_box .navbar-toggler.active .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 25px;
}
#header .navbar .container .black_box .navbar-toggler.active .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 25px;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_01 {
  width: 17px;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_02 {
  width: 25px;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu:hover span.iconbar.btn_line_03 {
  width: 17px;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu span {
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu span.iconbar {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background: #000;
  transition: all 0.2s ease-in-out;
  transition: width 0.13s ease-out, transform 0.13s ease-out, opacity 0.13s ease-out;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu span.iconbar:nth-child(2) {
  width: 17px;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu span::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .navbar .container .black_box .navbar-toggler .hamburger-menu span::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
#header .sub_bg {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background: #fff;
  display: none;
}
#header .sub_bg.on {
  display: block;
}

.aside_bg.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#aside.on {
  right: 0;
}
#aside .menu--open:before, #aside .menu--open:after {
  height: 100%;
}
#aside .navbar-nav_m {
  z-index: 60;
  position: fixed;
  background: #fff;
  top: 0;
  right: -100%;
  width: 50vw;
  height: 100%;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 500ms ease-in-out;
  display: none;
  overflow-y: scroll;
}
#aside .navbar-nav_m.menu--open {
  opacity: 1;
  visibility: visible;
  right: 0;
}
#aside .navbar-nav_m.menu--open ul li {
  opacity: 0.85;
  visibility: visible;
  height: 100%;
}
#aside .navbar-nav_m.menu--open ul li.nav_f {
  width: 200px;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-25%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
#aside .navbar-nav_m ul {
  display: flex;
}
#aside .navbar-nav_m li {
  position: relative;
  line-height: 3;
  margin: 0 0 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.5s, height 0.5s;
}
#aside .navbar-nav_m li.nav_f > a {
  position: relative;
  padding: 5px 35px;
}
#aside .navbar-nav_m li.nav_f > a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 50px;
  height: 2px;
  background: #000;
}
#aside .navbar-nav_m li.on i {
  top: 23px;
  right: 42px;
  transform: rotate(-45deg);
}
#aside .navbar-nav_m li .sub {
  display: block;
}
#aside .navbar-nav_m li .sub li a {
  font-weight: 400;
  padding: 5px 35px;
}
#aside .navbar-nav_m li > a {
  font-weight: 800;
}
#aside .navbar-nav_m li > a i {
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 17px;
  right: 42px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(133deg);
  transition: all 0.5s ease-in-out;
}

#footer {
  position: relative;
  text-align: center;
}
#footer .spon {
  border-top: 1px solid #bbb;
}
#footer .spon .swiper {
  max-width: 1920px;
  width: 90%;
}
#footer .spon .swiper-button-next {
  display: none;
}
#footer .spon .swiper-button-prev {
  display: none;
}
#footer .spon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#footer .spon ul li {
  margin: 0 20px 0 0;
  width: 10%;
}
#footer .spon ul li:last-child {
  margin: 0;
}
#footer .spon ul li img {
  border: 1px solid #888;
}
#footer .f_box {
  background: #154057;
}
#footer .inner {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  position: relative;
  padding: 60px 0;
}
#footer .inner .flex.f1 {
  text-align: left;
}
#footer .inner .flex.f2 {
  text-align: right;
}
#footer .inner .flex.f2 ol {
  margin: 30px 0 0;
}
#footer .inner .flex.f2 ol li {
  line-height: 2.5;
}
#footer .inner .flex.f2 ol li a {
  opacity: 0.8;
}
#footer .inner .flex #f_logo {
  margin: 0 0 100px 0;
}
#footer .inner .flex ul {
  display: flex;
  justify-content: space-between;
}
#footer .inner .flex ul > li {
  margin: 0 30px 0 0;
}
#footer .inner .flex ul > li:last-child {
  margin: 0;
}
#footer .inner .flex ul > li a {
  font-weight: 600;
  color: #fff;
  font-weight: 400;
}
#footer .sns_box {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}
#footer .sns_box a {
  display: block;
  margin: 0 20px 0 0;
}
#footer .address {
  color: #fff;
  line-height: 2;
}
#footer .address p.flex span {
  display: flex;
}
#footer .address p.flex span small {
  float: left;
  font-size: 1rem;
}
#footer .address p.flex span a {
  color: #fff;
  margin: 0 0 0 7px;
  float: left;
}
#footer .address span {
  margin-right: 10px;
}
#footer .address span:last-child {
  margin-right: 0;
}
#footer .address span.block {
  display: block;
}
#footer .copyright {
  border-top: 1px solid #fff;
  color: #fff;
  padding: 15px 0;
  font-weight: 600;
  background: #154057;
}

#totop {
  opacity: 0;
  position: sticky;
  z-index: 10000;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 40px;
  height: 40px;
}

/* ======================= 1920 =============================*/
@media (max-width: 1920px) {
  #header .navbar .container #navbarNav ul > li.nav-item {
    width: 150px;
  }
}
/* ======================= 1600 =============================*/
@media (max-width: 1600px) {
  .fo_f {
    font-size: 1.07rem;
  }
  #header {
    height: 85px;
  }
  #header .sub_bg {
    margin-top: 85px;
  }
  #header .navbar .container #navbarNav ul > li.nav-item {
    width: 120px;
  }
  #header .navbar .container #navbarNav ul > li.nav-item > a {
    padding: 30px 0;
  }
  #header .navbar .container #navbarNav ul > li.nav-item .sub_menu {
    top: 75px;
  }
  #header .navbar .container .black_box {
    height: 85px;
  }
  #footer .inner .flex.f1 {
    width: 40%;
  }
  #footer .address p.flex {
    flex-direction: column;
    align-items: start;
  }
  #footer .address p.flex span {
    width: 100%;
  }
  #footer .address p.flex span:last-child {
    width: 100%;
  }
}
/* ======================= 1440 =============================*/
@media (max-width: 1440px) {
  #footer .inner .flex.f1 {
    width: 30%;
  }
}
/* ======================= 1360 =============================*/
@media (max-width: 1360px) {
  #header .navbar .container #navbarNav ul > li.nav-item {
    width: 110px;
  }
  #header .logo img {
    max-width: 90%;
  }
  #aside .navbar-nav_m .menu--open ul li {
    margin: 0 auto;
  }
  #aside .navbar-nav_m ul {
    flex-wrap: wrap;
    text-align: center;
  }
  #aside .navbar-nav_m ul li {
    flex: 1 1 30%;
  }
  #aside .navbar-nav_m li.nav_f > a:after {
    left: 50%;
    transform: translate(-50%);
  }
}
/* ======================= 1280 =============================*/
@media (max-width: 1280px) {
  #header .sub_bg.on {
    display: none;
  }
  #header .navbar .container #navbarNav {
    display: none;
  }
  #header .navbar .container #navbarNav ul li.nav-item {
    width: 110px;
  }
  #header .navbar .container #navbarNav ul li.nav-item:last-child {
    margin: 0 0 0 15px;
  }
  #header .navbar .container #navbarNav ul li.nav-item .sub_menu li {
    padding: 20px 0;
  }
  #header .navbar .container .black_box .navbar-toggler {
    display: block;
  }
  #header .navbar .container .black_box .login_area {
    margin: 0 20px;
  }
  #header .navbar .container .black_box .join_area {
    margin: 0 20px 0 0;
  }
  #header .navbar .container .black_box .cont {
    width: auto;
    display: flex;
    align-items: center;
  }
  #footer .spon ul {
    justify-content: start;
  }
  #footer .spon .swiper-button-prev {
    top: 55%;
    display: block;
  }
  #footer .spon .swiper-button-prev:after {
    color: #707070;
    font-size: 1.5rem;
  }
  #footer .spon .swiper-button-next {
    top: 55%;
    display: block;
  }
  #footer .spon .swiper-button-next:after {
    color: #707070;
    font-size: 1.5rem;
  }
  #footer .sns_box {
    justify-content: center;
  }
  #footer .sns_box a {
    margin: 0 20px;
  }
  #footer .inner {
    padding: 50px 0;
    flex-direction: column;
  }
  #footer .inner .flex #f_logo {
    margin: 0 0 50px 0;
  }
  #footer .inner .flex.f1 {
    text-align: center;
    width: 100%;
  }
  #footer .inner .flex.f2 {
    text-align: center;
    margin: 50px 0 0;
  }
  #footer .inner p.flex span {
    justify-content: center;
    display: flex;
    line-height: 1.5;
  }
  #aside {
    padding: 80px 0 0;
    position: relative;
  }
  #aside::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 89;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  #aside .navbar-nav_m {
    display: block;
    padding: 100px;
  }
  #aside .navbar-nav_m.menu--open {
    padding: 120px 0px 30px;
  }
  #aside .navbar-nav_m.menu--open ul li {
    text-align: left;
  }
  #aside .navbar-nav_m.menu--open ul li.nav_f {
    width: 100%;
    text-align: left;
  }
  #aside .navbar-nav_m.menu--open ul li.nav_f a:after {
    display: none;
  }
  #aside .navbar-nav_m ul {
    flex-direction: column;
  }
  #aside .navbar-nav_m ul li .sub {
    display: none;
    background: rgba(232, 232, 232, 0.5);
  }
}
/* ======================= 1114 =============================*/
@media (max-width: 1114px) {
  .fo_f {
    font-size: 1rem;
  }
}
/* ======================= 1024 =============================*/
@media (max-width: 1024px) {
  #header .navbar .container #navbarNav .consulting {
    display: none;
  }
  #header .navbar .container #navbarNav .navbar-nav {
    display: none;
  }
  #header .navbar .container .black_box {
    background: none;
  }
  #header .navbar .container .black_box .navbar-toggler {
    padding: 16px 4px 15px;
  }
  #header .navbar .container .black_box .cont {
    display: block;
  }
  #header .navbar .container .black_box .login_area {
    margin: 0 17px;
  }
  #header .navbar .container .black_box .login_area span {
    padding: 0;
    width: 25px;
    height: 22px;
    font-size: 0;
    background: url("../img/login_icon_b.png") no-repeat 0px 0px/24px 22px;
  }
  #header .navbar .container .black_box .join_area span {
    padding: 0;
    font-size: 0;
    width: 27px;
    height: 22px;
    background: url("../img/join_icon_b.png") no-repeat left center/27px 20px;
  }
  #header .navbar .container .black_box .navbar-toggler .hamburger-menu span:before {
    background: #000;
  }
  #header .navbar .container .black_box .navbar-toggler .hamburger-menu span:after {
    background: #000;
  }
  #footer .inner .flex ul li a {
    font-size: 0.88rem;
    margin: 0;
  }
  #footer .inner .flex #f_logo {
    margin: 0 0 30px 0;
  }
  #footer .inner .flex.f2 {
    margin: 30px 0 0;
  }
  #footer .inner .flex.f2 ol {
    margin: 15px 0 0;
  }
}
/* ======================= 768 =============================*/
@media (max-width: 768px) {
  #header {
    height: 70px;
  }
  #header .navbar .logo img {
    max-width: 83%;
  }
  #header .navbar .container .black_box {
    height: 70px;
  }
  #header .navbar .container .black_box .navbar-toggler.active .hamburger-menu span.iconbar.btn_line_01 {
    top: 0px;
  }
  #header .navbar .container .black_box .navbar-toggler.active .hamburger-menu span.iconbar.btn_line_03 {
    top: 0px;
  }
  #header .navbar .container .black_box .navbar-toggler .hamburger-menu span.iconbar.btn_line_01 {
    top: 2px;
  }
  #header .navbar .container .black_box .navbar-toggler .hamburger-menu span.iconbar.btn_line_03 {
    top: -2px;
  }
  #header .navbar .container .black_box .login_area {
    margin: 0 15px 0 0;
  }
  #header .navbar .container .black_box .login_area i {
    background: url("../img/login_icon_b.png") no-repeat center/20px 20px;
    width: 20px;
    height: 20px;
  }
  #header .navbar .container .black_box .join_area {
    margin: 0 15px 0 0;
  }
  #header .navbar .container .black_box .join_area i {
    background: url("../img/join_icon_b.png") no-repeat center/24px 18px;
    width: 24px;
    height: 18px;
  }
  #aside {
    padding: 70px 0 0;
  }
  #aside .navbar-nav_m {
    padding: 30px;
    width: 70vw;
  }
  #aside .navbar-nav_m.menu--open {
    padding: 100px 0px 30px;
  }
  #footer .spon .swiper {
    width: 80%;
  }
  #footer .sns_box {
    margin: 0 0 20px 0;
  }
  #footer .inner {
    padding: 35px 0;
  }
  #footer .inner .flex {
    display: block;
  }
  #footer .inner .flex #f_logo {
    max-width: 200px;
    margin: 0 auto 30px;
  }
  #footer .inner .flex.f2 {
    margin: 20px 0 0;
  }
  #footer .inner .flex.f2 ol {
    display: none;
  }
  #footer .inner .flex ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .inner .flex ul li {
    width: 10%;
  }
  #footer .inner .b_box {
    display: block;
  }
  #footer .inner .b_box .sns {
    position: absolute;
    top: 60px;
    right: 20px;
  }
  #footer .address span.block {
    display: initial;
  }
}
/* ======================= 640 =============================*/
@media (max-width: 640px) {
  #footer .inner .flex ul li {
    width: 22%;
    margin: 0 5% 15px 0;
  }
  #footer .inner .flex ul li:nth-of-type(3n), #footer .inner .flex ul li:nth-of-type(6n) {
    margin: 0 0 0 0;
  }
  #footer .inner .flex ul li:nth-of-type(4n), #footer .inner .flex ul li:nth-of-type(5n) {
    margin: 0 5% 0 0;
  }
  #footer .inner .flex ul li:last-child {
    display: none;
  }
}
/* ======================= 540 =============================*/
@media (max-width: 540px) {
  #footer .address p.flex {
    flex-direction: column;
  }
  #footer .address p span {
    display: block;
    margin-right: 0;
  }
}
/* ======================= 480 =============================*/
@media (max-width: 480px) {
  .fo_default {
    font-size: 0.9rem;
  }
  #aside {
    padding: 60px 0 0;
  }
  #header .navbar .logo img {
    max-width: 180px;
  }
  #header .navbar .container #navbarNav .navbar-toggler {
    width: 35px;
  }
  #footer .spon .swiper {
    width: 70%;
  }
  #footer .spon ul li {
    margin: 0;
  }
}
/* ======================= 414 =============================*/
@media (max-width: 414px) {
  #aside .navbar-nav_m {
    width: 100vw;
  }
  #header .navbar .container .black_box .login_area {
    margin: 0 10px 0 0;
  }
  #header .navbar .container .black_box .login_area span {
    background: url("../img/login_icon_b.png") no-repeat 0px 0px/22px 21px;
  }
  #header .navbar .container .black_box .join_area {
    margin: 0 10px 0 0;
  }
  #footer .inner .flex ul li {
    width: 30%;
  }
}
@media (max-width: 360px) {
  #header .navbar .logo img {
    max-width: 160px;
  }
}/*# sourceMappingURL=common.css.map */
