@import "_mixin";



.fo_f{
    font-size: 1.125rem;
}
.fo_default{
    font-size: 1rem;
}
.fo_copy{
    font-size: 0.8125rem;
}

.inner{
    width: 90%;
    margin: 0 auto;
    max-width: 1700px;
}
.inner2{
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
}


body{
    &.menu--open{
        #header .navbar .container #navbarNav{
            display: none;
        }
    }
}
#header{    
    height: 100px;
    position: fixed; 
    width: 100%;
    z-index: 100;
    background: #fff;
    transition: background 1s;
    border-bottom: 1px solid #ddd;
    
   
    &.sub_header{
        background: rgba(0,0,0);
    }
 
    
    .navbar{
        height: 100%;
        .logo{
            margin-left: 5%;
            img{
                padding: 24px 0;
            }
        }
        .container{            
            @include flex_between;   
                  
            height: 100%;
       
            box-sizing: border-box;

         

            #navbarNav{
                @include flex_end;

                
                .navbar-nav{
                    @include flex_center;

                }
                .consulting{
                    margin: 0 0 0 5%;
                    
                }
                ul{
                    >li.nav-item{
                        width: 180px;
                        text-align: center;
                        // margin: 0px 50px;
                        position: relative;
                        margin: 0;
                        padding: 30px 0;
                      

                        .sub_menu{
                            position: absolute;
                            top: 95px;
                            left: 0;
                            text-align: center;
                            width: 100%;
                            padding: 15px 10px;                            
                            
                            height: auto;           
                            z-index: 1;                 
                            transition: opacity .5s;                            
                            transition: background 1s;                         
                            display: none;
                            &.on{
                                display: block;
                            }
                            li{
                                padding: 20px 10px;
                                a{
                                    font-size: 0.9rem;
                                    
                                    i{
                                        display: block;
                                        width: 0%;
                                        height: 2px;
                                        background: #000;
                                        border-radius: 0;
                                        transition: all 1s;
                                        margin: 8px 0 0;
                                    }
                                    &:hover{
                                        font-weight: 600;
                                        
                                        i{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        >a{
                            
                            font-weight: 600;
                            padding: 7px 0;
                       
                            border-radius: 30px;
                            &:hover{
                               
                                
                               
                               
                            }
                        }

                        
                    }
                }
                .consulting{
                    a{
                        background: #1445CE;
                        color: #fff;
                        width: 140px;
                        height: 45px;
                        line-height: 45px;
                        color: #fff;
                        font-weight: 600;
                        border-radius: 30px;
                        text-align: center;
                    }
                }
                
            }
            .black_box{
               
                padding-right: 5%;
                background: #000;
                display: flex;
                align-items: center;
                height: 100px;
                box-sizing: border-box;
               .cont{
                    display: flex;
                    width: 300px;
                    align-items: center;
                  
                }
                .login_area{
                    margin: 0 10%;
                    a{
                        display: flex;
                        align-items: center;
                    }
                    i{
                        background: url("/img/login_icon.png")no-repeat center/24px 24px;
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                    span{
                        color: #fff;
                        padding: 0 0 0 10px;
                    }
                }
                .join_area{
                    margin: 0 10% 0 0;
                    a{
                        display: flex;
                        align-items: center;
                    }
                    i{
                        background: url("/img/join_icon.png")no-repeat center/27px 20px;
                        width: 27px;
                        height: 20px;
                        display: block;
                    }
                    span{
                        color: #fff;
                        padding: 0 0 0 10px;
                    }
                }
                .navbar-toggler{
                    position: relative;
                    width: 33px;
                    // height: 42px;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    padding: 14px 4px 15px;
                    
                   
            
                    .btn_line_02{
                        margin: 8px 0; 
                        
                    }
                    
                    &.active{
                      
                      .btn_line_01{       
                       transform: rotateZ(-45deg) translate3d(-7px,7px,0);
                        width: 25px;
                      }
                      .btn_line_02{
                        opacity: 0;
                        transform: translateX(0);
                      }
                      .btn_line_03{
                        transform: rotateZ(45deg) translate3d(-7px,-7px,0);
                        width: 25px;
                      }
                      .hamburger-menu{
                        &:hover{
                            span{
                                &.iconbar{
                                    &.btn_line_01{
                                        width: 25px;
                                    }
                                    
                                    &.btn_line_03{
                                        width: 25px;
                                    }
                                }
                            }
                        }
                      }
                     
                    }
                    .hamburger-menu{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        cursor: pointer;

                        &:hover{
                            span{
                                &.iconbar{
                                    &.btn_line_01{
                                        width: 17px;
                                    }
                                    &.btn_line_02{
                                        width: 25px;
                                    }
                                    &.btn_line_03{
                                        width: 17px;
                                    }
                                }
                            }
                        }
                        span{
                            display: block;
                            width: 100%;
                            height: 4px;
                            position: absolute;
                            left: 0;
                            transition: transform 0.3s ease;
                           
                            &.iconbar{
                                position: relative;
                                display: block;
                                width: 25px;
                                height: 2px;
                                background: #000;
                                transition: all .2s ease-in-out;
                                transition: width .13s ease-out,
                                transform .13s ease-out,
                                opacity .13s ease-out;
                                &:nth-child(2){
                                    width: 17px;
                                }
                            }
                            &::before{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #fff;
                            }
                            &::after{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #fff;
                            }
                           
                            
                        }
                      
                    }
                }
            }

            
        }
    }
    .logo{
        img{
                     
        }
    }
   .sub_bg{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 100px;
        width: 100%;
        height: 500px;
        background: #fff;
        display: none;
        &.on{
            display: block;
        }
    }

}

.aside_bg {

    &.on{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 10;
    }
}
#aside{

    &.on{
        right: 0;
    }
    .full-menu{
        // &:before,&:after{
        //     content: '';
        //     height: 0;
        //      position: fixed;
        //     top:0;
        //       width: 100%;
        //       height: 0;
        // }

        //   &:after{
        //     z-index: -1;
        //    background-color:#fff;
        //      transition: height 0.9s cubic-bezier(0.77, 0, 0.175, 1) ;
        //    -webkit-transition: height 0.9s cubic-bezier(0.77, 0, 0.175, 1) ;
        //    -moz-transition: height 0.9s cubic-bezier(0.77, 0, 0.175, 1) ;
        //    -ms-transition: height 0.9s cubic-bezier(0.77, 0, 0.175, 1) ;
        //    -o-transition: height 0.9s cubic-bezier(0.77, 0, 0.175, 1) ;
        //  }
    }

      

      
      
      .menu--open{
        &:before,&:after{
            height: 100%;
        }
        &:before{

        } 
        &:after{

        }
      }

    .navbar-nav_m{
        // position: fixed;
        // top: 0;
        // width: 100%;
        // height: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        z-index: 60;
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        width: 100vw;
        height: 0;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity .3s, visibility .3s, height .3s;
        &.menu--open{           
            opacity: 1;
            visibility: visible;
            height: 100%;
            ul{
                
                li{
                    opacity: .85;
                    visibility: visible;
                    height: 100%;
                    animation: fadeInLeft 1s ease forwards;
                    
                    // &:nth-of-type(1){
                    //     animation-delay: .23s;
                    // }
                    // &:nth-of-type(2){
                    //     animation-delay: .40s;
                    // }
                    // &:nth-of-type(3){
                    //     animation-delay: .60s;
                    // }
                    // &:nth-of-type(4){
                    //     animation-delay: 1.2s;
                    // }
                    // &:nth-of-type(5){
                    //     animation-delay: 1.5s;
                    // }
                    &.nav_f{
                        width: 200px;
                    }
                
                }
            }
        }
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
                transform: translate3d(-25%, 0, 0);
            }
            100% {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
        ul{
            display: flex;
            
        }
        li{
            position: relative;
            line-height: 3;
            margin: 0 0 10px 0;
            opacity: 0;
            visibility: hidden;

            transition: opacity .35s, visibility .5s, height .5s;
            &.nav_f{
                >a{
                    position: relative;
                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        width: 50px;
                        height: 2px;
                        background: #000;
                       
                    }
                }
            }
            &.on{
                i{
                    top: 23px;
                    transform: rotate(-45deg);
                }
             
            }
            .sub{
                
                display: block;
                margin: 20px 0 0;
                
                li{
                     a{
                        font-weight: 400;
                    }
                }
            
            }
            >a{
            
                font-weight:800;
                
                
                i{
                    display: inline-block;
                    width: 5px;
                    height: 5px;                    
                    position: absolute;
                    top: 18px;
                    right: 5px;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    transform: rotate(133deg);
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
}



#footer{
    position: relative;

    text-align: center;

    .spon{
        border-top: 1px solid #bbb;
        .swiper{
            max-width: 1920px;
            width: 90%;
        }
        .swiper-button-next{
            display: none;
        }
        .swiper-button-prev{
            display: none;
        }
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            
            margin: 0 auto;
          
            li{
                margin: 0 20px 0 0;
                width: 10%;
                &:last-child{
                    margin:0;
                }
                img{
                    border: 1px solid #888;
                }
            }
        }
    }
    .f_box{
        background: #154057;
    }
    .inner{
        @include flex_between;
        max-width: 100%;
        position: relative;
        padding: 80px 0;
        .flex{
            &.f1{
                text-align: left;
            }
            &.f2{
                text-align: right;
                ol{
                    margin: 30px 0 0;
                    li{
                        line-height: 2.5;
                        a{
                            opacity: 0.8;
                        }
                    }
                }
            }
            
            #f_logo{
                margin: 0 0 100px 0;   
            }
            ul{
                @include flex_between;
                li{
                    a{
                        font-weight: 600;
                        margin: 0 30px;
                        color: #fff;
                        font-weight: 400;
                        
                    }
                }
            }
        }
      
    }
    .sns_box{
        display: flex;
        align-items: center;
        margin: 0 0 30px 0;
        a{
            display: block;
            margin: 0 20px 0 0;
        }
    }
    .address {
        color: #fff;
        line-height: 2;
        p.flex{
            @include flex_center;
          
            span{
                display: flex;
                align-items: center;
                width: 180px;
                &:last-child{
                    width: 252px;
                }
                a{
                    color: #fff;
                    margin: 0 0 0 7px;
                }
            }
        }
        span{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }

            &.block{
                display: block;
            }
        }
        
    }
    .copyright {
        border: 1px solid #fff;
        color: #fff;
        padding: 15px 0;
        font-weight: 600;
        background: #154057;
        
    }
}

#totop{
    opacity: 0;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    position: sticky;
    z-index: 10000;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.5s;
    width: 40px;
    height: 40px;
   
}




/* ======================= 1920 =============================*/
@include breakpoint_desktop_1920{
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul {
                        > li.nav-item{
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

/* ======================= 1600 =============================*/
@include breakpoint_desktop_1600{
    .fo_f{
        font-size: 1.07rem;
    }

    #header{
        height: 85px;
    
        .sub_bg{
            margin-top: 85px;
        }
        .navbar {
            height: 85px;
            .logo {
                img{
                    width: 200px;
                    padding: 22px 0;
                }
            }
            .container {
                #navbarNav {
                    ul {
                        > li {
                            
                            &.nav-item{
                                width: 120px;
                                .sub_menu{
                                    top: 115px;
                                    padding: 15px 0;
                                }
                              
                            }
                            
                        }
                    }
                }
                .black_box{
                    height: 85px;
                    .cont{
                        width: 245px;
                    }
                     .login_area{
                        margin: 0 6%;
                     }
                     .join_area{
                        margin: 0 6% 0 0;
                     }
                }
            }
        }
    }
    #footer {
        .address {
            p.flex{
                flex-direction: column;
                align-items: start;
                span{
                    width: 100%;
                    &:last-child{
                        width: 100%;
                    }
                }
            }
        }
    }
}




/* ======================= 1440 =============================*/
@include breakpoint_desktop_1440{
    #header {
        
   
    }
}




/* ======================= 1360 =============================*/
@include breakpoint_desktop_1360{
    
    #header{
        
        .navbar {
            .container {
                #navbarNav{
                    ul {
                        > li.nav-item{
                       
                        }
                    }
                }
            }
        }
        .logo {
            img{
                
            }
        }
    }

    #aside {
        .navbar-nav_m{
            .menu--open{
                ul{
                    li{
                        margin: 0 auto;
                    }
                }
            }
            ul{
                flex-wrap: wrap;
                text-align: center;
                li{
                    flex: 1 1 30%;
                }
            }
            li.nav_f{
                >a{
                    &:after{
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
            }
        }
    }
}




/* ======================= 1280 =============================*/
@include breakpoint_desktop_1280{
    #header {
        .sub_bg{
            &.on{
                display: none;
            }
        }
        .navbar {
            .logo{
                img{
                    max-width: 220px;
                }
            }
            
            .container {
            
                #navbarNav {
                    display: none;
                    ul{
                        li{
                            
                            &.nav-item {                                
                                width: 110px;
                                &:last-child{
                                    margin: 0 0 0 15px;
                                }
                                >a{
                                    
                                }
                                .sub_menu{
                                   
                                    
                                    li{
                                        padding: 20px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .black_box {
                    .login_area{
                        margin: 0 20px;
                        span{
                            
                        }
                    }
                    .join_area {
                        margin: 0 20px 0 0;
                        span{
                         
                        }
                    }
                    .cont{
                        width: auto;
                    }
                }
            }
        }
    }

    #footer {
         .spon {
            .swiper-button-prev{
                display: block;
                &:after{
                    color: #707070;
                }
            }
            .swiper-button-next{
                display: block;
                &:after{
                    color: #707070;
                }
            }
         }
        .sns_box{
            justify-content: center;
            a{
                margin: 0 20px;
            }
        }
        .inner {
            padding: 50px 0;
            flex-direction: column;
            .flex{
                #f_logo{
                    margin: 0 0 50px 0;
                }
                &.f1{
                    text-align: center;
                   
                }
                &.f2{
                    text-align: center;
                    margin: 50px 0 0;
                }
                
                ul{
                    li{
                        a{
                            margin: 0 20px;
                        }
                    }
                }
            }
            p.flex {
                span{
                    justify-content: center;
                }
            }
        }
    }
}




/* ======================= 1114 =============================*/
@include breakpoint_tablet_1114{
    .fo_f{
        font-size: 1rem;
    }
    #header {
        .navbar {
            .container {
                #navbarNav {
                    
                    ul {
                        li.nav-item{
                            
                        }
                    }
                }
            }
        }
    }
}
/* ======================= 1024 =============================*/
@include breakpoint_tablet_1024{
    
    #header {
      
        .navbar {
            height: 70px;
            .logo{
                img{
                    
                }
            }
            .container {
                #navbarNav {
                    .consulting{
                        display: none;
                    }
                    .navbar-nav{
                        display: none;
                    }
                    
                  
                }
                .black_box{
                    background: none;
                     .login_area {
                        i{
                            background: url("/img/login_icon_b.png");
                           
                        }
                        span{
                            display: none;
                        }
                     }
                    .join_area {
                        i{
                            background: url("/img/join_icon_b.png");
                           
                        }
                        span{
                            display: none;
                        }
                    }
                    .navbar-toggler {
                        .hamburger-menu {
                            span{
                                &:before{
                                    background: #000;
                                }
                                &:after{
                                    background: #000;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

 
    #aside{
        padding: 80px 0 0;
        .navbar-nav_m {
            display: block;
            padding: 100px;
            &.menu--open {
                ul {
                    li{
                        text-align: left;
                        margin: 0 0 20px 20px;
                        &.nav_f{
                            width: 100%;
                            text-align: left;
                            a{
                                &:after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            ul{
                display: block;
                li{
                    
                    .sub{
                        display: none;
                    }
                }
            }
        }
     
    }
    #footer {
        .spon{
            ul{
                // flex-wrap: wrap;
                // margin: 0 auto;
                // padding:50px 0 20px;
                // width: 100%;
                // li{
                //     width: 18%;
                //     margin: 0 20px 30px 0;
                //     &:last-child{
                //         margin: 0 0 30px 0;
                //     }
                // }
            }
        }
    }
}


/* ======================= 768 =============================*/
@include breakpoint_tablet_768{
    #header{
        height: 70px;
        .navbar{
            .logo{
                
                img{
                    padding: 15px 0;
                }
            }
            .container{
                .black_box{
                    height: 70px;
                    .navbar-toggler{
                        &.active{
                            .hamburger-menu{
                                span{
                                    &.iconbar{
                                        &.btn_line_01{
                                            top: 0px;
                                        }
                                        &.btn_line_03{
                                            top: 0px;
                                        }
                                    }
                                }
                            }
                        }
                        .hamburger-menu{
                            span{
                                &.iconbar{
                                    &.btn_line_01{
                                        top: 2px;
                                    }
                                    &.btn_line_03{
                                        top: -2px;
                                    }
                                }
                            }
                        }
                    }
                    .login_area{
                        margin: 0 15px 0 0;
                        i{
                            background: url("/img/login_icon_b.png")no-repeat center/20px 20px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .join_area{
                        margin: 0 15px 0 0;
                        i{
                            background: url("/img/join_icon_b.png")no-repeat center/24px 18px;
                            width: 24px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
 
    #aside {
        padding: 70px 0 0;
        .navbar-nav_m{
            padding: 30px;
        }
    }
  
    #footer {
       .spon {
            .swiper{
                width: 80%;
            }
       }
        .inner {
            .flex{
                display: block;
                #f_logo{
                    max-width: 230px;
                    margin: 0 auto 50px;
                }
                &.f2{
                    margin: 20px 0 0;
                    ol{
                        display: none;
                    }
                }
               
                ul{
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                        width: 16%;
                        a{
                            margin: 30px 0 0;
                        }
                    }
                }
            }
            .b_box{
                display: block;
                .sns{
                    position: absolute;
                    top: 60px;
                    right: 20px;
                }
            }
        }
        .address{
            span{
                &.block{
                    display: initial;
                }
            }
        }
    }
}


/* ======================= 640 =============================*/

@include breakpoint_mobile_640{
    #footer {
        .inner {
            .flex {
                ul{
                    li{
                        width: 22%;
                        margin: 0 5% 0 0;
                    }
                }
            }
        }
    }
}



/* ======================= 540 =============================*/

@include breakpoint_mobile_540{
    #footer {
       
        .spon{
            // ul{
            //     margin: 0 0px;
            //     padding: 25px 0 0;
            //     li{
            //         width: 20%;
            //     }
            // }
        }
        
        .inner{
            
            .flex {
                #f_logo{
                   
                }
            }
        }
        .address {
            p.flex{
                flex-direction: column;
            }
            p{
                span{
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}





/* ======================= 480 =============================*/

@include breakpoint_mobile_480{
    #aside{
        padding: 60px 0 0;
    }
    #header{
        
        .navbar{
            .container{
              
                #navbarNav {
                    .navbar-toggler{
                        width: 35px;
                    }
                }
            }
        }
       
    }
    
}

/* ======================= 414 =============================*/
@include breakpoint_mobile_414{
    #aside{
        width: 85%;
        right: -85%;
    }
    #header {
        .navbar{
            .logo {
                img{
                    width: 180px;
                   
                }
            }
        }
     
    }
    #footer {
        .inner {
            .flex {
                #f_logo {
                    img{
                        
                        
                    }
                }
            }
        }
    }
}



